body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* unit */
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
  border-radius: 50px; /* unit */
  color: aliceblue;
  cursor: pointer;
  flex: 0.5; /*?*/
}
