@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box; /*??*/
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* unit */
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
  border-radius: 50px; /* unit */
  color: #fff;
  cursor: pointer;
  flex: 0.5; /*?*/
  position: relative; /*/no change, only for absolute childs */
}

.panel h3 {
  position: absolute; /* will postion based on panel position instead of the whole body page*/
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
}

/* need go for js and first import and @media 2025-01-29 Wednesday */
